.search_bar {
  /* position:absolute;
  right:12rem; */
  float: right;
  margin-top: 0.4rem;
}
.header_hydroid {
  width: 100%;
  background-color: white;
  min-height: 1rem;
  margin: 0;
  height: 3.4rem;
  -webkit-box-shadow: 2px -4px 17px 0px rgba(199, 197, 199, 1);
  -moz-box-shadow: 2px -4px 17px 0px rgba(199, 197, 199, 1);
  box-shadow: 2px -4px 17px 0px rgba(199, 197, 199, 1);
}
.logo {
  width: 6rem;
  height: 2.8rem;
  float: right;
  border-radius: 5px;
  position: absolute;
  top: 7px;
  left: 2.5rem;
}
.logout {
  position: absolute;
  right: 1rem;
  top: 1rem;
  outline: none;
  background: white;
  border: 1px solid black;
  cursor: pointer;
}
.notifications {
  width: 1.6rem;
  float: right;
  margin: 0.9rem 2rem 0 1rem;
  /* position:absolute;
  top:.7rem;  
  right:14rem; */
}
.profile_btn {
  /* position:absolute;
  right:3rem; */
  float: right;
  margin-right: 1rem;
  margin-top: 3 px;
}
