@import "../../containers/variables.scss";
.sessionWarning .transactionDetails {
  padding: 40px;
}

.sessionWarning .transactionDetails h3 {
  margin: 0 0 30px 0;
}

.sessionBtns {
  display: flex;
  justify-content: space-between;
}

.sessionBtns .btn.transparent {
  color: #5090f8;
  border: 1px solid #5090f8;
}

.sessionBtns .btn {
  font-size: 16px;
  width: 45%;
  margin-top: 30px;
  padding: 15px 0;
}

.sessionWarning p {
  font-size: 16px;
  color: #8994a5;
  @include fontRoman;
  line-height: 21px;
  margin: 20px 0 7px 0;
}
.sessionWarning p > span {
  color: #000;
  @include fontHeavy;
}
.sessionBtns .btn.transparent:hover {
  background: #101730;
  color: #fff;
  border-color: transparent;
}
